<script src="/js/vue.js"></script>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="popup.css">

<div class="abc"></div>

<div id="app">
  <div class="header">
    <img src="logo.png" alt="">
    <input
    autofocus
    type="text"
    placeholder="Search for cards..."
    v-model="query"
    @keyup.enter="search"
    @click="copytoClipboard">
    <br>
    <button type="button" class="page" v-if="plugin" @click="fromPage"><i class="fa fa-search-plus" aria-hidden="true"></i> From Page</button>
    <button type="button" class="recent" @click="searchRecent"><i class="fa fa-history" aria-hidden="true"></i> Recent Cards</button>
    <button type="button" class="create" @click="create"><i class="fa fa-plus" aria-hidden="true"></i> Add Card</button>
  </div>

  <ul id="cards">
    <isotope :options='{}' :list="cards" @filter="filterOption=arguments[0]" @sort="sortOption=arguments[0]">
      <!-- <li v-for="card in cards"> -->
      <li v-for="card in cards" :key="card.objectID">
        <card
          v-bind:card="card"
          v-bind:key="card.objectID"

          >
        </card>
      </li>
      <!-- </li> -->
    </isotope>
  </ul>

      <!-- {{card.sentence}} -->
</div>


<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/q.js"></script>
<script type="text/javascript" src="/js/algoliasearch.min.js"></script>
<script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/js/lodash.min.js"></script>
<script type="text/javascript" src="/js/vue_isotope.js"></script>
<script src="popup.js" charset="utf-8"></script>
